body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(58, 58, 58);
    border-radius:15px;
    max-width: 500px;
    overflow: hidden;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(80, 80, 80);
    color: aliceblue;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border:none;
    background-color: rgb(37, 37, 37); 
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:rgb(49, 49, 49) ;
}
button:active{
    background-color:rgb(68, 66, 48) ;
}
.operator-btn{
    background-color: darkorange;

}
.operator-btn:hover{
    background-color: rgb(231, 160, 72);

}
.operator-btn:active{
    background-color: rgb(216, 128, 128);

}